<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Omeegle IIITA</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="container">
                    <img class="logo" src="/img/Logo.png" alt="">
                    <h2>Talk to stranger</h2>
                    <div class="online-status">5000+ online now</div>
                </div>
            </nav>
        </header>
        <main>
            <div class="main-container">
              

                <p>
                    To help you stay safe, chats are anonymous unless you tell someone who you are (not recommended!), and you can stop a chat at any time. See our Terms of Service and Community Guidelines for more info about the do’s and don’ts in using Omegle. Omegle video chat is moderated but no moderation is perfect. Users are solely responsible for their behavior while using Omegle.
                </p>
               
                Please leave Omegle and visit an adult site instead if that's what you're looking for, and you are 18 or older.

                <h2 class="monitored-text">Video is monitored. Keep it clean</h2>
                <div class="action-container">
                    <p class="start-chat">Start Chatting</p>
                    <div class="button-container">
                        <button class="action-button">
                            <a href="text-chat">Text Chat</a>
                        </button>
                        <button class="action-button">
                            <a href="video-chat">Video Chat</a>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
